mixin chat(options = {})
    - const { texts = [] } = options;
    .chat
        .chat__control-button.chat__control-button_state_closed
        .chat__body.chat__body_state_closed
            for text in texts
                p= text