mixin chat()
    .chat
        .chat__control-button.chat__control-button_state_closed
        .chat__body.chat__body_state_closed
            p Здесь может быть чат...
            p А может и не быть.