mixin main(options)
    -
        const { majorTitle = '', minorTitle = '', src='', alt='alt' } = options;
    section.main
        .main__body
            .main__imageOuter
                img.main__image(src=src alt=alt)
            .main__titles
                .main__majorTitle= majorTitle
                .main__minorTitle= minorTitle