mixin main(options = {})
    -
        const { majorTitle = '', minorTitle = '', imageSrc = '', imageAlt = 'alt' } = options;
    section.main
        .main__body
            .main__image-outer
                img.main__image(src=imageSrc alt=imageAlt)
            .main__titles
                .main__major-title= majorTitle
                .main__minor-title= minorTitle