include ../../blocks/content/content

doctype html
html
    head
        meta(charset="utf-8")
        title Test
        link(rel="stylesheet" type="text/css" href="/static/styles/styles.css")
        script(src="./scripts/index.js")
    body
        +content({
            mainData: {
                majorTitle: 'Welcome to our site!',
                minorTitle: 'We are always glad to see you!',
                imageSrc: './static/images/some3.jpg',
            },
            menuData: {
                title: "Blocks",
                groups: [
                    {
                        title: 'Кумамон',
                        items: [
                            {image: {alt: 'someImage', src: './static/images/some.jpeg'}, href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some.jpeg'}, href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some.jpeg'}, href: '#'},
                        ],
                    },
                    {
                        title: 'Group name',
                        items: [
                            {image: {alt: 'someImage', src: './static/images/some1.jpg'}, size: 'box', href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some1.jpg'}, size: 'box', href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some1.jpg'}, size: 'box', href: '#'},
                        ],
                    },
                    {
                        title: 'Group name',
                        items: [
                            {image: {alt: 'someImage', src: './static/images/some2.jpg'}, href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some2.jpg'}, href: '#'},
                            {image: {alt: 'someImage', src: './static/images/some2.jpg'}, href: '#'},
                        ],
                    },
                ],
            },
        })