mixin header(options)
    header.header
        .header__navigation
            button.header__button.header__button_type_phone.header__button_state_inactive
            button.header__button.header__button_type_tablet.header__button_state_inactive
            button.header__button.header__button_type_pc.header__button_state_active
        button#menu-open-button.header__button.header__button_type_menu