mixin header(options)
    header.header
        a.header__button-link
            button.header__button
        a.header__button-link
            button.header__button
        a.header__button-link
            button.header__button