.header {
  height: 4rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;

  &__button {
    height: 100%;
    width: 4rem;
    display: block;
    padding: 0;
  }
}