include ../menu/menu
include ../main/main
include ../header/header
include ../chat/chat

mixin content(options = {})
    - const { mainData = {}, menuData = {}, chatData = {} } = options;
    .content
        +menu(menuData)
        +chat(chatData)
        .content__header
            +header
        main.content__body
            .content__body-element
                +main(mainData)